<h1>Login to rChat</h1>
<%= form_for :session, url: login_path do |f|%>

  <div class='form-group'>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit "Login", class: 'btn btn-primary' %>
  </div>
<% end %>
<h2>Just wanna try it out quickly?</h2>
<%= form_for :session, url: login_path do |f|%>
  <%= f.hidden_field :guest, value: true %>
  <%= f.submit "Login as Guest", class: 'btn btn-outline-primary' %>
<% end %>
<p></p>
<p>New user? <%= link_to "sign up now", signup_path %></p>
