<div>
  Chatting with <%= conversation.with(current_user).name %>
  <br>
  <em><%= conversation.private_messages.present? ? conversation.private_messages.last.body.truncate(50) + '...' : 'No messages yet' %></em>
  <br>
  <%= link_to 'View conversation', conversation_path(conversation) %>
  <hr>
</div>
