<%= form_with(model: PrivateMessage.new, id: 'js-send-form') do |f| %>
  <%= hidden_field_tag 'conversation_id', @conversation.id %>
  <div class='form-group input-group'>
    <%= f.text_area :body, class: 'form-control', rows: '1' %>
    <div class="input-group-append">
      <%= f.submit 'send', class: 'form-control btn btn-primary btn-sm' %>
    </div>
  </div>
<% end %>