<h3>Chatting with <%= @conversation.with(current_user).name %></h3>

<div id="conversation-main">
  <div id="conversation-body">
    <%= render @conversation.private_messages %>
  </div>
  <%= render "conversations/new" %>
  </div>
