<div class="private_message" data-uid=<%=private_message.user.id%>>
  <p class='show-message-body'><%= private_message.body %></p>
  <p class='show-message-info'>
    <strong>
      <%= time_ago_in_words private_message.created_at %>
    </strong> ago
    <br>
  </p>
</div>
