<h1>New message for <%= @recipient.name %></h1>
<%= form_for @private_message, remote: true do |f| %>
  <%= hidden_field_tag 'recipient_id', @recipient.id %>
  <div class='form-group input-group'>
    <%= f.text_area :body, class: 'form-control', rows: '1' %>
    <div class="input-group-append">
      <%= f.submit "Send Message!", class: 'form-control btn-sm btn-primary' %>
    </div>
  </div>
<% end %>
