// Place all the styles related to the private_messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$recipient-blue: #c1cfda;
$author-blue: #6cd4ff;

.show-message-body {

}

.show-message-info {
  color: grey;
  font-size: 0.6rem;
}

form.new_private_message {

}

.private_message{
  width: 40%;
  margin-bottom: 0.4rem;

  p {
    padding: 0.4rem;
  }

  background-color: $recipient-blue;
  align-self: flex-start;
}

.private_message.is_author {
  background-color: $author-blue;
  align-self: flex-end;
}