
<nav class='nav bg-light justify-content-end'>
  <%= link_to 'Home', root_path, class: ["nav-link", 'nav-item', 'active'] %>
  <%= link_to 'Users', users_path, class: ["nav-link", 'nav-item']%>
  <% if logged_in? %>
  <p class='nav-item nav-link'>
    Hello, <%= current_user.name.capitalize %>! | 
    <span hidden id='uid-ref' data-uid=<%=current_user.id%>></span>
    <%= link_to 'log out', logout_path, method: :delete %>
  </p>
<% else %>
  <%= link_to 'log in', login_path, class: ["nav-link", 'nav-item'] %>
<% end %>

</nav>

